@using OnlineSinav.Models
@model IEnumerable<GirilenSinavlar>
@{
    ViewBag.Title = "DetailsStudent";
    Layout = "~/Views/Shared/_ogretmenpanel.cshtml";
}
 <html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sisteme Kayıtlı Sınavlarım</title>
    <link href="~/Content/css/tablefor.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .btn {
            background-color: steelblue;
        }

        .fl-table {
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: inherit;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="table-wrapper" style="">
        <table class="fl-table" style="">
            <thead>
                <tr>
                  <th>Sınıf</th>
                   <th>Öğrenci Numarası</th>
                    <th>Öğrenci Ad Soyad </th>
                        <th>Aldığı Puan</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var quest in Model)
                {

                    <tr>
                         <th>@quest.Ogrencis.Sinif</th>
                         <td>@quest.Ogrencis.OgrenciNo</td>
                         <td>@quest.Ogrencis.AdSoyad</td>
                        @if (@quest.total > 50) { 
                         <td> <span class="label label-info"> @quest.total </span></td>
                        }
                        else if (@quest.total < 50)
                        {
                            <td><span class="label label-warning"> @quest.total </span></td>
                        }
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>